/* TODO: Store colors in consts! */
@import "./fonts.css";

/* Typography */

.MuiTypography-h1 {
	font-size: 2.5rem;
	font-weight: 800;
}

.MuiTypography-h2 {
	font-size: 1.7rem;
	font-weight: 400;
}

.MuiTypography-h3 {
	font-size: 1.25rem;
	color: #424242;
}

.MuiTypography-h4 {
	font-size: .9rem;
	line-height: 22px;
}

.MuiTypography-body2 {
	font-size: 1rem;
	color: #424242;
}


/* Misc Elements */
.MuiTab-root {
	font-size: 1.1rem;
}


/* Input elements */

.MuiFormControl-root {
	margin-top: 1rem;
}

.MuiTextField-root {
	margin-top: -.75rem;
}

.MuiFormLabel-root {
	padding-bottom: .3rem;
}