@import "./fonts.css";

/* Typography */

.MuiTypography-h1 {
	font-size: 3rem;
	font-weight: 800;
}

.MuiTypography-h2 {
	font-size: 1.7rem;
	font-weight: 400;
}

.MuiTypography-h3 {
	font-size: 1.25rem;
	font-weight: 400;
	color: #424242;
}


/* Input elements */

.MuiFormControl-root {
	margin-top: 1rem;
}

.MuiTextField-root {
	margin-top: -.75rem;
}

.MuiFormLabel-root {
	padding-bottom: .3rem;
}