/* TODO: Store colors in consts! */
@import "./fonts.css";

:root {
	/* TODO: Remove this from being hard-coded!!! Calculate nav tabs height */
	--nav-tabs-height: 100px;
}

/* Typography */

.MuiTypography-root, .MuiFormLabel-root{
	/* scroll-margin-top: var(--nav-tabs-height); */
	/* padding-top: var(--nav-tabs-height); */
	/* margin-top: calc(-1 * var(--nav-tabs-height)); */
}

.MuiTypography-h1 {
	font-weight: 800;
}

.MuiTypography-h2 {
	font-weight: 400;
}

.MuiTypography-h3 {
	color: #424242;
}

.MuiTypography-h4 {
	font-size: .9rem;
	line-height: 22px;
}


.MuiTypography-body2 {
	font-size: 1rem;
	color: #424242;
}

/* TODO: Change color to const reference */
a {
	color: #3D77D2;
}


/* Misc Elements */


/* Mui-Dropzone elements */

/* Mui-Dropzone main Box */
.css-1agvk75, .css-12vgb7g {
	min-height: 0px;
	/* height: 100px; */
	margin-top: 10px;
	margin-bottom: 20px;
	align-items: center;
	background-color: #F2F2F2;
}

/* Mui-Dropzone hint icon */
.css-f682gy-MuiSvgIcon-root, .css-1bflstf{
	display: none;
}

/* Mui-Dropzone text Box */
.css-xi606m {
	margin-left: 10px;
	margin-right: 10px;
}


/* Input elements */

.MuiFormControl-root {
	margin-top: 1rem;
}

.MuiTextField-root {
	margin-top: -.75rem;
}

.MuiFormLabel-root {
	padding-bottom: .3rem;
}


/* Responsive Breakpoints */

/* Mobile devices */
@media only screen and (max-width: 600px) {
	.MuiTypography-h1 {
		font-size: 1.35rem;
	}
	.MuiTypography-h2 {
		font-size: 1.15rem;
	}
	.MuiTypography-h3 {
		font-size: 1rem;
	}
	.MuiTypography-h5 {
		font-size: 1.1rem;
	}
	.MuiTab-root {
		font-size: 0.8rem;
	}
}

/* Small devices */
@media only screen and (min-width: 600px) {
	.MuiTypography-h1 {
		font-size: 1.8rem;
	}
	.MuiTypography-h2 {
		font-size: 1.4rem;
	}
	.MuiTypography-h3 {
		font-size: 1.1rem;
	}
	.MuiTypography-h5 {
		font-size: 1.1rem;
	}
	.MuiTab-root {
		font-size: 1.1rem;
	}
}

/* Medium devices */
@media only screen and (min-width: 768px) {
	.MuiTypography-h1 {
		font-size: 2rem;
	}
	.MuiTypography-h2 {
		font-size: 1.6rem;
	}
	.MuiTypography-h3 {
		font-size: 1.2rem;
	}
	.MuiTypography-h5 {
		font-size: 1.3rem;
		line-height: 22px;
	}
}

/* Large devices */
@media only screen and (min-width: 900px) {

}

/* Extra large devices */
@media only screen and (min-width: 1200px) {

}
